body {
  background-image: url("img/fundo.jpg");
  background-size: cover; /* cobre toda a tela */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* para não rolar junto com a página */
  color: #fff;
}

.container {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


#contador {
  font-size: 1.5rem;
  font-weight: 600;
  color: #d63384; /* Rosa Bootstrap */
  transition: all 0.3s ease-in-out;
  line-height: 1.6;
}

#contador span {
  display: inline-block;
  margin: 0 4px;
  animation: pulso 2s infinite;
}

@keyframes pulso {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.carousel-inner img {
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
}

@keyframes rosa-pulsante {
  0%   { color: #ffb6c1; }  /* rosa claro */
  25%  { color: #ff69b4; }  /* rosa médio */
  50%  { color: #ff1493; }  /* rosa forte */
  75%  { color: #ff69b4; }
  100% { color: #ffb6c1; }
}

.texto-fofo {
  font-family: 'Comic Sans MS', 'Segoe Script', cursive;
  font-weight: bold;
  font-size: 1.3rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  animation: rosa-pulsante 5s ease-in-out infinite;
}

.texto-fofo {
  font-family: 'Pacifico', cursive;
}
